body{
  background-color: #333;
  color: white;
}
.nt-stats{
  display:flex;
  justify-content: space-between;
}
.nt-pilnas{
  /* width: 50em; */
  /* padding: 0.5rem; */
  display:grid;
  grid-template-columns:  47rem 1fr;
  grid-template-areas: 
  "galerija kaina"
  "galerija stats"
  "galerija adresas"
  "galerija adresas"
  "galerija agentas"
  "aprasymas agentas"
  
  /* "kaina adresas adresas"
  ". galerija ."
  "agentas agentas agentas"
  "stats stats stats"
  "aprasymas aprasymas aprasymas" */
}

.nt-pilnas .nt-kaina{
  grid-area: kaina;
  font-size: 2.5em;
  background-color: #9a9da0;
  margin-left: -2rem;
  padding-left: 3rem;
  border-top-right-radius: 1rem;
}
.nt-pilnas .nt-adresas{
  grid-area: adresas;
  background-color: #9a9da0;
  margin-left: -2rem;
  padding-left: 3rem;
  z-index: 3;
} 
.nt-pilnas .nt-galerija{grid-area: galerija; z-index: 5;}
.nt-pilnas .nt-agentas{
  grid-area: agentas;
  background-color: #9a9da0;
  margin-left: -2rem;
  padding-left: 3rem;
  z-index: 3;
  border-bottom-right-radius: 1rem;
}
.nt-pilnas .nt-stats{
  grid-area: stats;
  background-color: #9a9da0;
  margin-left: -2rem;
  padding-left: 3rem;
  z-index: 3;
}
.nt-pilnas .nt-aprasymas{
  grid-area: aprasymas;
  background-color: #5c6165;
  margin-top: -2rem;
  padding: 3rem 1rem 1rem;
  z-index: 4;
  border-radius: 0 0 1rem 1rem;
}

/* .nt-agentas::before{
  content: "Pardavimų agentas:";
  font-size: 0.9em;
  text-align: center;
} */
/* .nt-stats::before{
  content:"Bruozai:";
  font-size: 2em;
} */
/* .nt-aprasymas::before{
  content:"Aprasymas:";
  font-size: 2em;
} */